In [44]:
import pandas as pd
import numpy as np

In [43]:
df_credits=pd.read_csv('ETL_v1_credits.csv',index_col=False)

In [45]:
df_credits.shape

(45476, 5)

In [46]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     45476 non-null  int64
 1   id             45476 non-null  int64
 2   cast           45476 non-null  object
 3   director_name  44589 non-null  object
 4   crew           45476 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.7+ MB

In [47]:
df_credits.columns

Index(['Unnamed: 0', 'id', 'cast', 'director_name', 'crew'], dtype='object')

In [48]:
df_credits.cast[1]

"['Robin Williams', 'Jonathan Hyde', 'Kirsten Dunst', 'Bradley Pierce', 'Bonnie Hunt', 'Bebe Neuwirth', 'David Alan Grier', 'Patricia Clarkson', 'Adam Hann-Byrd', 'Laura Bell Bundy', 'James Handy', 'Gillian Barber', 'Brandon Obray', 'Cyrus Thiedeke', 'Gary Joseph Thorup', 'Leonard Zola', 'Lloyd Berry', 'Malcolm Stewart', 'Annabel Kershaw', 'Darryl Henriques', 'Robyn Driscoll', 'Peter Bryant', 'Sarah Gilson', 'Florica Vlad', 'June Lion', 'Brenda Lockmuller']"

In [49]:
df_credits.id[1]

8844

In [50]:
type(df_credits.cast[1])

str

In [51]:
import ast

def parse_cast_name(x):
    try:
        return ast.literal_eval(x)
    except (SyntaxError, ValueError):
        return []

df_credits['cast'] = df_credits['cast'].apply(lambda x: parse_cast_name(x) if pd.notnull(x) else [])

# hemos creado una función parse_genres que intenta evaluar la cadena de texto utilizando ast.literal_eval(). 
# Si ocurre algún error durante la evaluación, como una sintaxis incorrecta o un valor no válido, la función 
# capturará la excepción y retornará una lista vacía en su lugar.
# Luego, aplicamos esta función a cada valor de la columna 'genres' utilizando apply(). 
# Si el valor es NaN, se asigna una lista vacía directamente.
# Con este enfoque, cualquier valor incorrecto o incompatible en la columna 'genres' se manejará adecuadamente 
# y se asignará una lista vacía en su lugar. Esto debería evitar que se produzca el error 
# "ValueError: malformed node or string: 0".

In [52]:
df_credits['cast'] = df_credits['cast'].apply( lambda x: [lang['name'] for lang in x] if isinstance(x,list) else x)
df_credits.cast

TypeError: string indices must be integers, not 'str'

In [53]:
df_credits['cast'][1]

['Robin Williams',
 'Jonathan Hyde',
 'Kirsten Dunst',
 'Bradley Pierce',
 'Bonnie Hunt',
 'Bebe Neuwirth',
 'David Alan Grier',
 'Patricia Clarkson',
 'Adam Hann-Byrd',
 'Laura Bell Bundy',
 'James Handy',
 'Gillian Barber',
 'Brandon Obray',
 'Cyrus Thiedeke',
 'Gary Joseph Thorup',
 'Leonard Zola',
 'Lloyd Berry',
 'Malcolm Stewart',
 'Annabel Kershaw',
 'Darryl Henriques',
 'Robyn Driscoll',
 'Peter Bryant',
 'Sarah Gilson',
 'Florica Vlad',
 'June Lion',
 'Brenda Lockmuller']

In [54]:
def parse_crew_name(x):
    try:
        return ast.literal_eval(x)
    except (SyntaxError, ValueError):
        return []

df_credits['crew'] = df_credits['crew'].apply(lambda x: parse_crew_name(x) if pd.notnull(x) else [])

In [55]:
df_credits['crew'] = df_credits['crew'].apply( lambda x: [lang['name'] for lang in x] if isinstance(x,list) else x)
df_credits.cast

0        [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...
1        [Robin Williams, Jonathan Hyde, Kirsten Dunst,...
2        [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...
3        [Whitney Houston, Angela Bassett, Loretta Devi...
4        [Steve Martin, Diane Keaton, Martin Short, Kim...
                               ...
45471          [Leila Hatami, Kourosh Tahami, Elham Korda]
45472    [Angel Aquino, Perry Dizon, Hazel Orencio, Joe...
45473    [Erika Eleniak, Adam Baldwin, Julie du Page, J...
45474    [Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...
45475                                                   []
Name: cast, Length: 45476, dtype: object

In [56]:
df_credits.crew[0][0]

'John Lasseter'

In [57]:
type(df_credits.crew[0][0])

str

In [58]:
# Definir una función que tome una lista de diccionarios y devuelva el 'name' del director si existe, o None si no
def get_director_name(crew_list):
    for person in crew_list:
        if person['job'] == 'Director':
            return person['name']
    return None

# Aplicar la función a la columna 'crew' y crear una nueva columna llamada 'director_name'
df_credits['director_name'] = df_credits['crew'].apply(get_director_name)

TypeError: string indices must be integers, not 'str'

In [59]:
df_credits.director_name

0           John Lasseter
1            Joe Johnston
2           Howard Deutch
3         Forest Whitaker
4           Charles Shyer
               ...
45471    Hamid Nematollah
45472            Lav Diaz
45473      Mark L. Lester
45474    Yakov Protazanov
45475       Daisy Asquith
Name: director_name, Length: 45476, dtype: object

In [62]:
df_credits.columns

Index(['id', 'cast', 'director_name', 'crew'], dtype='object')

In [61]:
df_credits=df_credits[['id','cast','director_name','crew']]

In [63]:
df_credits.columns

Index(['id', 'cast', 'director_name', 'crew'], dtype='object')

In [64]:
df_credits.to_csv('ETL_v1_credits.csv',index=False)